<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJjMIQMbEpFe-BGmKU3if5XZ1IWi92uaY</string>
	<key>GCM_SENDER_ID</key>
	<string>279528714515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DevaSam.foodrecommendation</string>
	<key>PROJECT_ID</key>
	<string>food-recommendation-85279</string>
	<key>STORAGE_BUCKET</key>
	<string>food-recommendation-85279.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279528714515:ios:246ca57856df8a59a46ae6</string>
	<key>DATABASE_URL</key>
	<string>https://food-recommendation-85279.firebaseio.com</string>
</dict>
</plist>